@model IEnumerable<Sales.Common.Models.ProductsLuis>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOM_PROD_VAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIO_DEC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNIDAD_MEDIDA_VAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_AVAILABLE_BIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PUBLISH_ON_DATE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOM_PROD_VAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIO_DEC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNIDAD_MEDIDA_VAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IS_AVAILABLE_BIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PUBLISH_ON_DATE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CVE_PRODUCTO_VAR }) |
            @Html.ActionLink("Details", "Details", new { id=item.CVE_PRODUCTO_VAR }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CVE_PRODUCTO_VAR })
        </td>
    </tr>
}

</table>
